/*основний колір тексту #757575
другорядний колір тексту #212121
колір лого #2196F3#2196F3
білий #2196F3
другорядний колір фону #F5F4FA
футтер #2F303A
*/


:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bg-color: #F5F5F5;
    --second-bg-color: #F5F4FA;
    --footer-color: #2F303A;
    --logo-header:#000000;
    va


}

body {

    background-color: #F5F5F5;
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    
}

.list {
    list-style: none;
}

/* h1,h2,h3,h4,h5,h6 {
    color: #212121
}*/
/* _____________Logo________________ */
.logo {
    
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}



.header.accent {
    color: var(--logo-header);
}
/* ____________site nav _____________*/
.site-nav .link {

    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
}

.site-nav .link:hover,
.site-nav .link:focus {

    color: var(--accent-color);
}

.site-nav .current {

    color: var(--accent-color);
}

/* ___________ authorisation ____________ */
.auth-nav .link {

    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}


/*________________hero_____________________*/
.hero.title {

    /*color: var(--white-color);*/
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
}

/* ___________________section_______________ */
.section-title {

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
}


.feachers-list .title {

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}

.feachers-list .text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
}
/* ___________________team_______________ */
.team .title {

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team .text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

/* _______________button___________________ */
.button {

    color: var(--title-text-color);
    background-color: var(--second-bg-color);
    text-decoration: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}

.button.primery {

    color: var(--white-color);
    background-color: var(--accent-color);
}
.button.secondary {

    color: var(--title-text-color);
    background-color: var(--second-bg-color);
}

/* .button.secondary:hover,
.button.secondary:focus
 {
    color: var(--white-color);
    background-color: var(--accent-color);
} */


/*_____________________portfolio___________________*/

.example .title {

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}
.example .link {

    color: var(--primary-text-color);
    text-decoration: none;
    
}

.example .text {

   font-weight: 400;
   font-size: 16px;
   line-height: 1.8;

}

 .filter.button:hover,
 .filter.button:focus {

    color: var(--white-color);
    background-color: var(--accent-color);

}


/*___________________footer_____________________*/

.footer {

    background-color: var(--footer-color);

}
 .footer.accent{

    color: var(--white-color);


}
.footer .adress {

    color: var(--white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}
.footer .kontakts {

    color: var(--white-color);
    text-decoration: none;
}
