











.feachers-list.title {
    color: var(--title-text-color);
}
/* ___________________team_______________ */
.team.title {
    color: var(--title-text-color);
}

/* _______________button___________________ */
.button {
    color: var(--title-text-color);
    background-color: var(--second-bg-color);
    
}
.button.primery {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.button.secondary {
    color: var(--title-text-color);
    background-color: var(--second-bg-color);
}